<div>
    <h2>
        <span>Farms</span>
        <button class="btn btn-primary float-right jh-create-entity create-farm-my-suffix" [routerLink]="['/', { outlets: { popup: ['farm-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Farm
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="farms">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Company Name</span></th>
            <th><span>Company Location</span></th>
            <th><span>Company Legal Person</span></th>
            <th><span>Registered Capital</span></th>
            <th><span>Email</span></th>
            <th><span>Phone Number</span></th>
            <th><span>Create Date</span></th>
            <th><span>Address</span></th>
            <th><span>Web Address</span></th>
            <th><span>Scope</span></th>
            <th><span>Longitude</span></th>
            <th><span>Latitude</span></th>
            <th><span>Province</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let farm of farms ;trackBy: trackId">
                <td><a [routerLink]="['../farm-my-suffix', farm.id ]">{{farm.id}}</a></td>
                <td>{{farm.companyName}}</td>
                <td>{{farm.companyLocation}}</td>
                <td>{{farm.companyLegalPerson}}</td>
                <td>{{farm.registeredCapital}}</td>
                <td>{{farm.email}}</td>
                <td>{{farm.phoneNumber}}</td>
                <td>{{farm.createDate | date:'medium'}}</td>
                <td>{{farm.address}}</td>
                <td>{{farm.webAddress}}</td>
                <td>{{farm.scope}}</td>
                <td>{{farm.longitude}}</td>
                <td>{{farm.latitude}}</td>
                <td>{{farm.province}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../farm-my-suffix', farm.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'farm-my-suffix/'+ farm.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'farm-my-suffix/'+ farm.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
